body {
	margin: 0;
	background-color: LightGray;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
}

// page styles
%pageCentarlBox {
	width:30%;
	height: 30%;
	box-shadow: 3px 6px 41px 6px #0e081b;
	border-radius: 20px;
	font-family: sans-serif;
	font-size: 22pt;
}

.HomePage {
	background-color: whitesmoke;
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.HomePageBlock {
	@extend %pageCentarlBox;
	background-color: #fc6;
}

.ErrorPage {
	background-color: whitesmoke;
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ErrorPageBlock {
	@extend %pageCentarlBox;
	background-color: bisque;
}

.outBox {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

// card styles
.cardBox {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
}

.cardItem {
	background-color: whitesmoke;
	width: 20%;
	//height: 150px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 5px 1px #0e081b;
	border-radius: 10px;
}

.cardItemDone {
	background-color: MediumSeaGreen;
}

.cardItemDeleted {
	background-color: #fc6;
}

.cardItemDeletedDone {
	background-color: #CCC;
}

.cardTextarea {
	width: 95%;
	height: 70px;
	outline: none;
	border-style: none;
	resize: none;
	font-size: 11pt;
}

.cardButtonDeleteArea {
	width: 50%;
	margin-bottom: 10px;
	float: right;
}

.cardBottomArea {
	width: 95%;
	margin: 0 auto;
}

.cardBottomCheckboxArea {
	width: 50%;
	height: 100%;
	float: left;
	align-items: center;
	justify-content: left;
	display: flex;
}

.cardTextBox {
	display: flex;
	align-items: center;
	justify-content: center
}

.lblCheckbox {
	font-size: 0.9em;
	font-weight: bold;
	color: #fc6;
}

input[type=checkbox] {
	margin-right: 10px;
}

// navPanel styles
.navPanel {
	position: fixed;
	margin: 0;
	padding: 0;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 130px;
	background-color: royalblue;
}

%navPanelStyle {
	width: 100%;
	height: 50%;
	background-color: DarkSlateGray;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.navPanelTop {
	@extend %navPanelStyle
}

.navPanelBottom {
	@extend %navPanelStyle
}

.navPanelCheckBoxArea {
	width: 350px;
}

.navPanelBtnArea {
	width: 15%;
}

.navPanelInputNewCard {
	width: 27.5%;
	margin-right: 5px
}

.navPanelInputNewCardText {
	width: 100%;
	height: 25px;
	margin-right: 5px;
	border: 1px solid red;
	border-radius: 5px;
	font-size: 11pt
}

// buttons
button {
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
	display:block;
	height: 30px;
	
	margin:5px auto;
	text-align:center;
	padding: 1px 5px;
	color: #717171;
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 0 6px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#d4d4d4));
	background: -webkit-linear-gradient(#f6f6f6, #d4d4d4);
	background-image: -moz-linear-gradient(top, #f6f6f6, #d4d4d4);
	background-image: -moz-gradient(top, #f6f6f6, #d4d4d4);
	border: 1px solid #a1a1a1;

	&.cardButton {
		width: 100px;
		float: right;
		&:hover {
			background: #eecc11;
			background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eecc11));
			background: -webkit-linear-gdient(#f6f6f6, #eecc11);
			background-image: -moz-linear-gradient(top, #f6f6f6, #eecc11);
			background-image: -moz-gradient(top, #f6f6f6, #eecc11);
		}
	}

	&.navButton {
		width: 101px;
		&:hover {
			background: #eecc11;
			background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eecc11));
			background: -webkit-linear-gradient(#f6f6f6, #eecc11);
			background-image: -moz-linear-gradient(top, #f6f6f6, #eecc11);
			background-image: -moz-gradient(top, #f6f6f6, #eecc11);
		}
	}

	&.toCardListButton {
		width: 150px;
		&:hover {
			background: MediumSeaGreen;
			background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(MediumSeaGreen));
			background: -webkit-linear-gradient(#f6f6f6, MediumSeaGreen);
			background-image: -moz-linear-gradient(top, #f6f6f6, MediumSeaGreen);
			background-image: -moz-gradient(top, #f6f6f6, MediumSeaGreen);
		}
	}
}

.ToMainPageWrapperBtn {
	margin-right: 0px;
	float: right
}

.ClearDeletedWrapperBtn {
	float: left
}

.HandleMarkWrapperBtn {
	margin-right: 5px; 
	float: left
}

// generic
.sectionFullSize {
	height: 100%;
	width: 100%
}

.marginLeft5px {
	margin-left: 5px
}

.marginTop150px {
	margin-top: 150px
}